//- player-info.pug
include ../partials/header.pug
include ../partials/menu.pug

div.container
  br
  div.row
    div.col-4
      div.card
        //- TODO: Modify the pug code below to conditionally set the image_src
        if(p)
            img.card-img-top#player_img(src= p.img_src, alt="Football Player")
        else
            img.card-img-top#player_img(src= '../../resources/img/helmet.jpg', alt="Football Player")
        div.card-body.mx-auto
          form.form(action="/player_info/select_player", method="get")
            select.custom-select(name="player_choice", onchange="this.form.submit()")
              option Select Player
              for player in players
                option(value=player.id)=player.name
              //- TODO: Populate the select with player options. Set the value to the player's id and display the player's name.
    div.col-8
      div.table-responsive
        table.table
          //- TODO: Set the player's information. On select, fill in the player's information in each of the field below. You will need to calculate the average rushing, receiving, and passing yards.
          if(p)
            tr
              th Year
              td=p.year
            tr
              th Major
              td=p.major
            tr
              th Games Played
              td=games_played
            tr
              td Passing Yards: #{p.passing_yards}
              td Avg. Passing Yards: #{p.passing_yards/games_played}
            tr
              td Rushing Yards: #{p.rushing_yards}
              td Avg. Rushing Yards: #{p.rushing_yards/games_played}
            tr
              td Receiving Yards: #{p.receiving_yards}
              td Avg. Receiving Yards: #{p.receiving_yards/games_played}

include ../partials/footer.pug